# Node/Next
node_modules/
apps/*/node_modules/
.next/
apps/web/.next/
.out/
.vercel/
.turbo/
dist/
build/

# Env, DB y logs
# Ignora archivos .env en cualquier carpeta
**/.env
.env
.env.*
apps/web/.env

apps/web/prisma/dev.db
*.log
logs/

# Editor
.vscode/
